* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.cover-left, .cover-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease;
    position: absolute;
}

.cover-left img, .cover-right img, .inner-image img {
    width: 100%;
    height: auto;
}

.inner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.cover-left {
    left: 0;
}

.cover-right {
    right: 0;
}

.inner-image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hidden {
    display: none;
}

