* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.cover-left, .cover-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease;
    position: absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ombra aggiuntiva */
}

.cover-left img, .cover-right img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Assicura un adattamento corretto */
    object-position: center; /* Centra il contenuto dell'immagine */
}

.inner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none; /* Nasconde l'immagine interna fino alla transizione */
    justify-content: center;
    align-items: center;
}

.inner-image img {
    object-fit: cover; /* Adatta l'immagine riempiendo lo spazio */
    object-position: center; /* Centra l'immagine */
    width: 100%;
    height: auto;
    max-width: 90%; /* Aggiunto per evitare overflow su schermi piccoli */
    max-height: 90%;
    border-radius: 10px; /* Per un tocco più estetico */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3); /* Ombra per maggiore contrasto */
}

.cover-left {
    left: 0;
}

.cover-right {
    right: 0;
}

.hidden {
    display: none;
}
